body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.class-schedule {
}

.class-schedule .badge {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.class-schedule .lesson-detail {
    margin-left: 2em;
}

.footer {
    position: relative;
    top: 4em;
    left: 0 !important;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    color: #999;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.footer .copyright {
    margin-bottom: 0;
}

.footer p:last-child {
    margin-bottom: 0;
}

.content-modal-dialog {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
